
* {
  padding : 0;
  margin: 0;
  box-sizing: border-box;
  font-family: open-sans, sans-serif;
}


header {
  max-height: 120px;

    img{
      height: 80px;
    }

    a{
      text-decoration: none;
      color: #585a61;
      text-transform: uppercase;

      &.active {
        color: #0282f9;
        border-bottom: 3px solid #0282f9;;
      }
    }
}

main {
  .container-fluid {
    height: 135px;
  }

  .main-container{
    background-image: url();
  }

  a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;;
  }

  img{
    height: 40px;
  }

  p{
    padding: 1rem;
    font-size:12px
  }
}


.container {
  width: 70%;
  margin: 0 auto;
}