
* {
  padding : 0;
  margin: 0;
  box-sizing: border-box;
  font-family: open-sans, sans-serif;
}


header {
  max-height: 120px;

    img{
      height: 80px;
    }

    a{
      text-decoration: none;
      color: #585a61;
      padding: 1 rem;
      text-transform: uppercase;

      &.active {
        color: #0282f9;
        border-bottom: 3px solid #0282f9;;
      }
    }
}


.container {
  width: 70%;
  margin: 0 auto;
}